@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: Inter;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: transparent;
}

/* TYPOGRAPHY */
p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h1 {
    display: inline;
    font-family: sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
h1:hover {
    margin: 0;
    font-family: sans-serif;
    color: transparent;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    -webkit-text-stroke: 3px var(--White, #FFF);
}

button {
    cursor: pointer;
}