@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: url('src/Background1.png') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav, .container {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgba(153, 153, 153, 0.25);
    border-bottom: 1px solid #B04E75;
    box-shadow: 0px 4px 35px 13px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
    margin-bottom: 20px;
}

.navMenu {
    display: flex;
    gap: 20px;
}

.menuActive {
    font-size: 24px;
    font-weight: 800;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
}

.menuNonActive {
    font-size: 24px;
    font-weight: 500;
}

.navGiggle {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.30);
    margin: 0 auto;
}

.edit-profile {
    background-color: #B04E75;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.container {
    background: rgba(153, 153, 153, 0.25);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    backdrop-filter: blur(17.5px);
    color: white;
}

.custom-underline {
    height: 4px;
    background-color: white;
    border: none;
    width: 100%;
}

.form-label {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid #555;
}

.form-control:focus + .form-label {
    color: rgba(255, 255, 255, 1);
}

.category-wrapper .colored-button {
    background-color: #B04E75; 
    color: white;
    border: none; 
    padding: 10px 40px;
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 200px;

}

.category-wrapper .category-button {
    background-color: transparent; 
    color: white; 
    border: 1px solid #ccc; 
    padding: 10px 40px; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 200px;
}

.category-wrapper .category-buttons .button-row {
    display: flex;
    gap: 30px; 
}

.category-wrapper .category-button, .category-wrapper .colored-button {
    flex: 1; 
    padding: 5px 10px; 
    border-radius: 30px;
}

.category-wrapper .colored-button:hover {
    background-color: #A03D5B; 
}

.category-wrapper .category-button:hover {
    background-color: rgba(176, 78, 117, 0.1);
}

.category-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn {
    background-color: white;
    color: #B04E75;
    padding: 5px 10px;
    border: 2px solid #B04E75;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    max-width: 140px;
    white-space: nowrap;
}

.upload-btn:hover {
    background-color: #f0f0f0;
}

.main-upload-btn {
    background-color: #B04E75;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto; 
    max-width: 140px;
    white-space: nowrap;
}

.main-upload-btn:hover {
    background-color: #A03D5B;
}

.category-button.selected {
    background-color: #B04E75;
    color: white;
    font-weight: bold;
}
