body{
    background: url("src/Background1.png") lightgray 50% / cover no-repeat;
}
/* Main Content Styling */
.containerPost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    fill: rgba(153, 153, 153, 0.26);
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(17px);
}

.uploadContainer {
    background: rgba(153, 153, 153, 0.26);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.uploadContainer h3 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 20px;
}

.uploadContainer p {
    color: #b0b0b0;
    font-size: 16px;
    margin-bottom: 25px;
}

.btnUpload {
    background-color: #b04e75;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btnUpload:hover {
    background-color: #e6396b;
}

.containerHeader {
    display: flex;
    width: auto;
    padding: 1.7% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-item {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .header-item.active {
    text-shadow: 0px 0px 5px #b04e75;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .header-item.active {
    text-shadow: 0px 0px 5px #b04e75;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .containerEdit {
    position: absolute;
    width: 82%;
    height: auto;
    margin: 6% 5%;
    padding: 2% 4%;
    border-radius: 25px;
    fill: rgba(153, 153, 153, 0.26);
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(17px);
  }